@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://css-tricks.com/adam-argyles-sick-mouse-out-css-hover-effect/ */

.navButton::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out; /* isolate transform as the transition-property, don't want to transition the transform-origin */
  border-bottom: 2px solid black;
}

.navButton:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}